<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col xl-6 col-xxl-6">
                    <label for="" class="form-label">Pateint name</label>
                    <input name="name" [(ngModel)]="name" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col xl-6 col-xxl-6">
                    <label for="" class="form-label">pateint id</label>
                    <input name="id" [(ngModel)]="id" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col xl-6 col-xxl-6">
                    <label for="" class="form-label">address</label>
<textarea name="address" [(ngModel)]="address" id="" cols="30" rows="10" class="form-control"></textarea>     
           </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col xl-6 col-xxl-6">
                    <label for="" class="form-label">contact no</label>
                    <input name="phno" [(ngModel)]="phno" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col xl-6 col-xxl-6">
                    <label for="" class="form-label">Date of appoinment</label>
                    <input name="doa" [(ngModel)]="doa" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col xl-6 col-xxl-6">
                    <label for="" class="form-label">pateint image</label>
                    <input name="image" [(ngModel)]="image" type="file" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col xl-6 col-xxl-6">
                    <label for="" class="form-label">Doctorname</label>
                    <input name="dname" [(ngModel)]="dname" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col xl-12 col-xxl-12">
                    <button (click)="entryValues()" class="btn btn-success">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
